*
{border: 1px solid black;}
h1 {font-size: xx-large;}
html {text-decoration-color: green; -ms-text-align-last: center;}
h3 {font-size: 72px; direction: ltr;}
.list-item {padding 3px;}
#list-group {list-style-type: none;  margin 0px;}
#fire {color: solid red;}